# PostgreSQL
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# MongoDB
MONGO_URI=
MONGO_PORT=
MONGO_DB=
MONGO_USER=
MONGO_PASSWORD=

# Mongo Express
MONGO_EXPRESS_PORT=
MONGO_EXPRESS_USER=
MONGO_EXPRESS_PASSWORD=

# Go Scrapper
APP_PORT=

# Python Analyzer
ANALYZER_PORT=

# LLM
OLLAMA_HOST=
OLLAMA_MODEL=
