# PostgreSQL
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# MongoDB
MONGO_URI=
MONGO_PORT=
MONGO_DB=
MONGO_USER=
MONGO_PASSWORD=

# Mongo Express
MONGO_EXPRESS_PORT=
MONGO_EXPRESS_USER=
MONGO_EXPRESS_PASSWORD=


# Go Scrapper
APP_PORT=

# Python Analyzer
ANALYZER_PORT=

# LLM
OLLAMA_HOST=
OLLAMA_MODEL=

# Email
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_FROM=

EMAIL_VERIFICATION_URL=

# Secret tokens
RESET_PASSWORD_TOKEN_SECRET=
VERIFICATION_TOKEN_SECRET=
AUTHENTICATION_SECRET=
